<img id="front-image" src="/assets/wallpaperflare.com_wallpaper (10).jpg" alt="" style="margin-top: 15px; width: 100%">
<div class="text-white" style="background-color: #262626; padding: 90px 0; margin-top: 30px;">
    <h1 class="text-center">Discover Something New</h1>
    <div class="container pt-5">
        <h4>Trending now</h4>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner mt-5">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/Spider Man.png" class="d-block" width="340" height="500" alt="...">
                    <img src="/assets/images/Guardians of The Galaxy.png" class="d-block mx-4" width="340" height="500" alt="...">
                    <img src="/assets/images/Tenet.png" class="d-block" width="340" height="500" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="/assets/images/Avengers.png" class="d-block" width="340" height="500" alt="...">
                    <img src="/assets/images/Knives Out.png" class="d-block mx-4" width="340" height="500" alt="...">
       
                </div>
              </div>
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>
</div>
<div class="" style="background-color: #132020;">
    <div class="container text-white" style="padding-top: 100px; padding-bottom: 100px;">
        <h4>More Reasons to Join</h4>
        <div class="row mt-4">
            <div class="col-xl-6">
                <div id="card-1" class="card border border-0 text-center pt-5 px-4 text-white" style="background-image: url('/assets/card-1.jpeg'); background-repeat: no-repeat;
                background-size: 100% 100%;">
                   <h1>Watch Everywhere</h1>
                   <h5 class="mt-3">Thousands of titles available for download. Watch it anywhere, even in the air.</h5>
                </div>
            </div>
            <div class="col-xl-6 mt-5 mt-xl-0">
                <div id="card-2" class="card border border-0 text-center pt-5 px-4 text-white" style="background-image: url('/assets/card-2.jpeg'); background-repeat: no-repeat;
                background-size: 100% 100%;">
                    <h1>Something for everyone</h1>
                    <h5 class="mt-3">Keep the younger ones entertained and watch your favourite global content, all in the same app</h5>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card text-white p-4" style="height: 300px; background-color: #4b0082;">
                  <h3>Enjoy on your TV</h3>
                  <div style="color: silver">Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</div>
                </div>
            </div>
              <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-lg-0">
                <div class="card text-white p-4" style="height: 300px; background-color: #4b0082;">
                    <h3>Download your shows to watch offline</h3>
                    <div style="color: silver">Save your favorites easily and always have something to watch.</div>
                </div>
            </div>
              <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="card text-white p-4" style="height: 300px; background-color: #4b0082;">
                    <h3>Watch everywhere</h3>
                    <div style="color: silver">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</div>
                </div>
            </div>
              <div class="col-12 col-lg-6 col-xl-3 mt-4 mt-xl-0">
                <div class="card text-white p-4" style="height: 300px; background-color: #4b0082;">
                    <h3>Create profiles for kids</h3>
                    <div style="color: silver">Send kids on adventures with their favorite characters in a space made just for them — free with your membership.</div>
                </div>
            </div>
        </div>

    </div>
</div>
